<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Forge Gym"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymForge"
        tools:targetApi="34">
        <activity
            android:name=".CoachMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.GymForge" />
        <activity
            android:name=".TrainerActivity"
            android:exported="false"
            android:label="@string/title_activity_trainer"
            android:theme="@style/Theme.GymForge" />
        <activity
            android:name=".CoachActivity"
            android:exported="false"
            android:label="@string/title_activity_coach"
            android:theme="@style/Theme.GymForge" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity android:name=".Gluteos" />
        <activity android:name=".Pierna" />
        <activity android:name=".Pecho" />
        <activity android:name=".Espalda" />
        <activity android:name=".Brazos" />
        <activity android:name=".Abdominales" />
        <activity
            android:name=".forgotpassword"
            android:exported="false" />
        <activity
            android:name=".NavBotDialog"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>